* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-image: url(../background-img/tlorazem1.png);
  background-position: top center;
  background-repeat: no-repeat;

}

header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 1px 1px 5px black;
  height: 30%;
}

#menu {
  list-style-type: none;
  text-align: center;
  width: 100%;
  margin: 2%;
  font-size: 1.7vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "home kim port moj kont";
  top: 0;
  left: 0;
}



#Ghome {
  grid-area: home;
}

#Gkim {
  grid-area: kim;
}

#Gport {
  grid-area: port;
}

#Gmoj {
  grid-area: moj;
}

#Gkont {
  grid-area: kont;
}

a {
  background-color: rgba(255, 255, 255, 1);
}

li a {
  color: #707070;
  text-align: center;
  text-decoration: none;
  box-shadow: 1px 1px 3px black;
}

li a:hover {
  background-color: #DEDEDE;
}

/* 
.lewo {
  margin-bottom: 15vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 10%;
  z-index: -1;
}



.prawo {
  display: flex;
  flex-direction: column;
  left: 50%;
  position: absolute;
  top: 10%;
  z-index: -1;
}




#t1 {
  padding-top: 10%;
  margin-left: 10%;
  color: #005DFF;
  font-size: 35px;
}

#art1 {
  height: 100%;
  margin-left: 7%;
  width: 40%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1%;
  font-size: 25px;
  color: #707070;
}

#insta {
  margin-top: 60%;

  position: relative;
  left: 80%;
  width: 60%;
}




#t2 {
  margin-top: 45%;
  color: #C0FF53;
  font-size: 35px;
  margin-left: 10%;
}

#art2 {
  height: 50%;
  width: 40%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  font-size: 25px;
  color: #707070;
  float: left;
  margin-left: 7%;

}


#ja {
  margin-top: 210%;
  margin-left: 50%;
  width: 100%;
}



footer {

  background-color: rgba(255, 255, 255, 0.7);
  width: 80%;
  margin-left: 10%;
  height: 50px;
  padding: 10px;
  color: #707070;
 



}
*/
@media (min-width: 1900px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  body {
    background-image: url(../background-img/tlorazem1.png);
    background-size: 100%;
    background-position: left top;
    background-repeat: no-repeat;
    width: 100%;
    height: 2130px;
  }

  #menu {
    list-style-type: none;
    overflow: hidden;
    width: 40vw;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1;
    padding-right: 1%;
  }


  .lewo {
    margin-bottom: 15vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 10%;
    z-index: -1;
  }


  .prawo {
    display: flex;
    flex-direction: column;
    left: 50%;
    position: absolute;
    top: 10%;
    z-index: -1;
  }


  header {
    top: 0;
    position: fixed;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 5px black;
  }

  a {
    background-color: rgba(255, 255, 255, 1);
    /* flex-basis: 2; */
    width: 6vw;
    height: 5vh;
  }

  li a {
    display: inline-block;
    color: #707070;
    text-align: center;
    padding: 10%;
    text-decoration: none;
    margin: 10%;
    box-shadow: 1px 1px 3px black;
  }

  li a:hover {
    background-color: #DEDEDE;
  }

  #t1 {
    padding-top: 10%;
    margin-left: 10%;
    color: #005DFF;
    font-size: 35px;
  }

  #art1 {
    height: 100%;
    margin-left: 7%;
    width: 40%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1%;
    font-size: 25px;
    color: #707070;
  }

  #insta {
    margin-top: 60%;

    position: relative;
    left: 80%;
    width: 60%;
  }




  #t2 {
    margin-top: 45%;
    color: #C0FF53;
    font-size: 35px;
    margin-left: 10%;
  }

  #art2 {
    height: 50%;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    font-size: 25px;
    color: #707070;
    float: left;
    margin-left: 7%;

  }


  #ja {
    margin-top: 210%;
    margin-left: 50%;
    width: 100%;
  }

  /* #potfolio{
    padding-top: 200px;
    
  }
  
  #t3{
    margin-top: 10%;
    margin-left: 43%;
    color: #019CD5;
    font-size: 35px;
  } */


  footer {
    float: left;
    background-color: rgba(255, 255, 255, 0.7);
    width: 80%;
    margin-left: 10%;
    height: 50px;
    padding: 10px;
    color: #707070;
    position: absolute;
    left: 0;
    bottom: -125%;

  }
}