* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}

body {
    background-image: url(../background-img/tlo1.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    height: 100%;
}

/* ////////////////Góra strony */

header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 1px 1px 5px black;
    height: 30%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#menu {
    list-style-type: none;
    text-align: center;
    width: 100%;
    margin: 2%;
    font-size: 2vw;
    display: flex;
    float: left;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1vw;

}

li {
    display: flex;
    flex-wrap: wrap;

}

li a {
    color: #707070;
    text-align: center;
    text-decoration: none;
    box-shadow: 1px 1px 3px black;
    padding: 1vh;
    font-size: 3vw;
}

@media (min-width: 950px) {
    li a {
        font-size: 2vw;
        padding: 2vw;
    }

    #menu {
        padding: .2vw;
        margin: 1%;
    }

}

@media (min-width: 1100px) {
    li a {
        padding: 1vw;
        font-size: 1.5vw;
    }

    #menu {
        margin: .5%;
        width: 50%;
    }


}


@media (min-width: 1600px) {
    li a {
        padding: .5vw;
        font-size: 1vw;

    }

    #menu {
        width: 35%;
    }
}

/* ////////////////Środek strony cz1 */




#lewo {
    padding: 1vh;
    display: flex;
    flex-direction: column;

}

#t1 {

    display: flex;
    justify-content: center;
    font-size: 7vw;
    margin: 4vw;

}

#art1 {

    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 2vw;
    text-align: justify;
    margin-top: 6vh;
    font-size: 4vw;
    padding: 2vw;

}

#insta {
    margin: 2vw;
    display: flex;
    justify-content: center;
    margin-top: 4vh;
    margin-bottom: 9vw;
}

@media (min-width: 720px) {
    #lewo {
        display: flex;
        flex-direction: row;
        float: left;
    }


}


@media (min-width: 950px) {
    #art1 {
        font-size: 3vw;
        /* padding-bottom: 3vh; */
        height: 70%;

    }

    #insta {
        /* margin-top: 7vw; */
        display: flex;
        float: right;
        width: 40%;

    }
}


@media (min-width: 1100px) {
    #art1 {
        font-size: 2vw;
        width: 50%;
    }

    #t1 {
        font-size: 5vw;
    }
}

@media (min-width: 1600px) {
    #art1 {
        font-size: 1.5vw;
        width: 50%;
    }
}

/* ////////////////Środek strony cz2 */



.prawo {
    margin-top: 9vw;
    display: flex;
    flex-direction: column-reverse;
}

#t2 {
    display: flex;
    justify-content: center;
    font-size: 7vw;
    margin: 4vw;
    color: rgba(255, 255, 255);
}

#jaa {
    display: block;

    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

#art2 {

    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(255, 255, 255);
    margin: 2vw;
    text-align: justify;
    margin-top: 6vh;
    font-size: 4vw;
    padding: 2vw;

}

#kim {
    margin-top: 2vw;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(255, 255, 255);
    margin: 2%;
    padding: 1vw;
}

@media (min-width: 720px) {
    .prawo {
        display: flex;
        flex-direction: column-reverse;
        float: left;
    }

    #jaa {
        display: flex;
        flex-direction: row-reverse;
        float: left;
        width: 30%;

    }
}

@media (min-width: 950px) {
    #art2 {
        font-size: 3vw;
    }
}

@media (min-width: 1100px) {
    #art2 {
        font-size: 2vw;
    }

    #jaa {
        width: 20%;
    }

    #t2 {
        font-size: 5vw;
    }
}

@media (min-width: 1600px) {
    #art2 {
        font-size: 1.5vw;
    }
}