* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

body{
  background-image: url(../background-img/tlo1.jpg) , url(../background-img/tlo2.jpg);
  background-size: 100%;
  background-position: left top,  right bottom;
  background-repeat: no-repeat, no-repeat;
}

#menu {
  list-style-type: none;  
  padding: 0;
  overflow: hidden;
  width: 40%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#home{
  margin-bottom: 200px;
  height: 33%;
}
header{
  top: 0;
  position: fixed;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 5px black; 
}

a{
  background-color: rgba(255, 255, 255, 1);
  /* flex-basis: 2; */
  width: 130px;  
}

li a {
  display: inline-block;
  color: #707070;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin:5px;
  box-shadow: 1px 1px 3px black; 
} 

li a:hover {
  background-color: #DEDEDE;
}

#t1{
  padding-top: 10%;
  margin-left: 10%;
  color: #005DFF;
  font-size: 35px;
}

#art1{
  margin-left: 7%;
  height: 530px;
  width: 760px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  font-size: 25px;
  color: #707070;
  float: left;
}

#insta{
  margin-left: 65%;
}

#kimstyle{
  height: 33%;
  padding-top: 100px;
}

#t2{
  margin-top: 5%;
  margin-left: 10%;
  color: #C0FF53;
  font-size: 35px;
}

#art2{
  margin-left: 7%;
  height: 530px;
  width: 760px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  font-size: 25px;
  color: #707070;
  float: left;
  margin-bottom: 10%;
}

#ja{
  margin-left: 10%;
}

#potfolio{
  padding-top: 200px;
  
}

#t3{
  margin-top: 10%;
  margin-left: 43%;
  color: #019CD5;
  font-size: 35px;
}


footer{
  float: left;
  background-color: rgba(255, 255, 255, 0.7);
  width: 80%;
  margin-left: 10%;
  bottom: 5%;
  height: 50px;
  padding: 10px;
  color: #707070;
}